# Generator of SQL samples
Samples that are generated by this generator could be more sophisticated and more true to SQL, so for example samples that contain multiple nested queries in IN and EXISTS blocks in WHERE statement but it would be just arts for the sake of arts.

This samples have to only show that model can learn on them little more complex structure than just simple mathematic expressions

# Example
SELECT COLUMN_ID, COLUMN_ID, COLUMN_ID FROM TABLE_NAME WHERE COLUMN_ID IN ( STRING, STRING ) OR COLUMN_ID ( NUM, NUM )

WHERE COLUMN_ID FROM TABLE_NAME EXISTS ( subquery )

WHERE COLUMN_ID FROM TABLE_NAME LIKE STRING
WHERE COLUMN_ID FROM TABLE_NAME 
WHERE COLUMN_ID FROM TABLE_NAME LIMIT NUM

In [1]:
import numpy as np
import random
from sql_simple_samples_generator import *

In [2]:
print(check_max_length()) # 100, 92, 86, 86, 96, 92, 104, 102, 98, 100

2

In [3]:
sample, _ = sql_simple_gen_sample()
print(len(sample))
print(sample)
decoded = sql_simple_decode_sample(sample)
print(decoded)
print(sql_simple_decode_sample_into_text(sample))

104
[0, 2, 8, 7, 8, 5, 8, 3, 9, 10, 11, 13, 17, 0, 7, 9, 10, 11, 13, 17, 0, 3, 9, 10, 11, 13, 17, 0, 3, 9, 10, 11, 13, 17, 0, 3, 9, 10, 11, 13, 17, 0, 5, 9, 10, 11, 13, 17, 0, 5, 9, 10, 11, 13, 17, 0, 3, 9, 10, 11, 7, 12, 17, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 8, 19, 20, 20, 20, 20, 20, 20, 20, 20]
['SELECT', 'COL_TWO', ',', 'COL_SEVEN', ',', 'COL_FIVE', ',', 'COL_THREE', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_SEVEN', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_THREE', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_THREE', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_THREE', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_FIVE', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_FIVE', 'FROM', 'TABLE_NAME', 'WHERE', 'EXISTS', '(', 'SELECT', 'COL_THREE', 'FROM', 'TABLE_NAME', 'WHERE', 'COL_SEVEN', 'IN', '(', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ',', 'NUM', ')', ')', ')', ')', ')', ')', ')', ')']
SELECT COL_TWO , COL_SEVEN , COL_FIVE , COL_THREE FROM TABLE_NAME WHERE EXISTS ( SELECT COL_SEVEN FROM TABLE_NAME WHERE EXISTS ( SELECT COL_THREE FROM TABLE_NAME WHERE EXISTS ( SELECT COL_THREE FROM TABLE_NAME WHERE EXISTS ( SELECT COL_THREE FROM TABLE_NAME WHERE EXISTS ( SELECT COL_FIVE FROM TABLE_NAME WHERE EXISTS ( SELECT COL_FIVE FROM TABLE_NAME WHERE EXISTS ( SELECT COL_THREE FROM TABLE_NAME WHERE COL_SEVEN IN ( NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM , NUM ) ) ) ) ) ) ) )

In [4]:
num_of_samples = 32_000
len_of_samples = 128

samples_with_not_filled_samples = sql_simple_generate_samples(num_of_samples, len_of_samples)
samples = np.asarray([sam[0] for sam in samples_with_not_filled_samples])
ss = [len(sam[1]) for sam in samples_with_not_filled_samples]
print(np.mean(ss))

62.8930625

In [ ]:
data_dir_path = "..\\data\\sql_simple"
for idx, sample in enumerate(samples):
  np.savetxt(f"{data_dir_path}\\sample_no{idx}.txt", sample, newline=" ", fmt="%u")